.page{
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.page > form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #6f955f;
    border-radius: 10px;
    gap: 10px;

    & > input {
        width: 200px;
        height: 30px;
        outline: none;
        border-radius: 3px;
        border: 1px solid black;
        padding-left: 5px;
        padding-right: 5px;
    }

    & > button {
        margin-top: 15px;
        width: 200px;
        height: 30px;
        border-radius: 3px;
        border: none;
        background: #ffffff;
        cursor: pointer;
    }
}